:root{ 
    --blanco: #ffffff;
    --negro: #000000;
    --amarillo: #ffc107;
    --gris: #757575;
    --azul: #0097A7;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'Krub', sans-serif;
    margin: 0;
    background-image:url(../img/avion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1rem;
}
h1, h2, h3{
    text-align: center;
}
header{
    background-color: var(--amarillo);
}
header p{
    margin: 0; 
    color: var(--negro);
    padding: 1rem;
}
.boton{
    background-color: var(--amarillo);
    color: var(--negro);
    padding: .8rem 2rem;
    margin-top: 1rem;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    border: none;
}
.boton:hover{
    cursor: pointer;
}
.logout{
    float: right;
    margin-right: 3rem;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.login p{
    font-weight: bold;
}
.registro{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.formulario{
    width: 40rem;
    background-color: var(--gris);
    margin: 0 auto;
    /* centrar un elemento */
    padding: 1rem;
    border-radius: 1rem;
}
.formulario legend{
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--amarillo);
}
.formulario fieldset{
    border: none;
}
.busqueda{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.campos input{
    width: 100%;
    margin-bottom: .3rem;
    border-radius: .5rem;
    border: none;
    padding: .5rem;
}
.campos textarea{
    height: 8rem;
    width: 100%;
}
.campos label{
    display: block;
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .3em;
}
.error{
    color: red;
    font-weight: bold;
}